{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'users/createprofile.css' %}">
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<div class="content-section">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Create Profile</legend>
						{{ form|crispy }}
					</div>
				</fieldset>
				<div class="form-group">
					<button class="btn btn-outline-info" type="submit">Create</button>
				</div>
			</form>
			<!--<div class="border-top pt-3">
				<small class="text-muted">
					Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
				</small><br>
				<small class="text-muted">
					<a href="/">Forgot password?</a>
				</small>
			</div>-->
		</div>
	</div>
</div>
{% endblock %}



