{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'users/register.css' %}">
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<div class="content-section">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Join Today</legend>
					<p> Please enter your chinese name. Alternatively, you may enter your english name</p>
					{{ form|crispy }}
				</fieldset>

				By registering, you accept the Terms of Service and Privacy Notice

				<div class="form-group">
					<button class="btn btn-outline-info" type="submit">Sign Up</button>
				</div>
			</form>
			<div class="border-top pt-3">
				<small class="text-muted">
					Already Have An Account? <a class="ml-2" href="/login">Sign In</a>
				</small>
			</div>
		</div>
	</div>
</div>
{% endblock %}



