{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<div class="content-section">
			<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					{{form.order_type}}
					<input type="hidden" name="member_id" id="id_member_id" value="{{ member_id }}">
					<label for="id_member_name" class=" requiredField"> Member*</label>
					<div>
						<select name="member_name" class="select form_control" id="id_member_name" multiple required>
						{% if member_profile %}
						{% for member in member_profile %}
							<option value="{{ member.name }}"> {{member.name}}</option>
						{% endfor %}
						{% endif %}
						</select>
					</div>
				</fieldset>
				
				<!--{% if messages %}
					{% for message in messages %}
						<div class="alert">
						{{ message }}
						</div>
					{% endfor %}
				{% endif %}-->

				
				<div class="form-group">
					<button class="btn btn-outline-info" type="submit">Order Test</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}




